<a href="https://colab.research.google.com/github/RamisaFarha/Python/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Integer Datatype:**

#**Arithmatic** **Operators**:
addition +=
substraction -=
multiplication *=
division /=
floor division //=
exponenet **=
modulus %=

In [ ]:
num = 1
num += 1
print(num)

2

In [ ]:
print(abs(-4))

4

In [ ]:
print(round(3.78888))
print (round(3.66677,2))

4
3.67

In [ ]:
num = 15
num %= 5
print (num)

0

#**Comparisons**:
equal ==
not equal !=
greater or equal >=
greater >
less <
less or equal <=

In [ ]:
num_1 = 5
num_2 = 10
print (num_1 == num_2)
print (num_1 != num_2)
print (num_1 >= num_2)
print (num_1 <= num_2)
print (num_1 < num_2)

False
True
False
True
True

In [ ]:
#string to int
num1 = '360'
num2 = '120'
num1 = int (num1)
num2 = int (num2)
print(num1+num2)

480

#**String Datatype:**

In [ ]:
#Printing String
text = 'Hello World'
print (text)
text1 = "Hello my name's Ramisa"
print(text1)

Hello World
Hello my name's Ramisa

In [ ]:
#Length function
text = 'Hello World'
print (len(text))

11

In [ ]:
#Print one character using index
text = 'Hello World'
print (text[4])

o

In [ ]:
#Slicing using index
text = 'Hello World'
print (text[0:5])
print (text[:4])
print (text[6:])
print (text[1:4])
print (text[:-3])

Hello
Hell
World
ell
Hello Wo

In [ ]:
#Adding/Concatenating
x = 'RAMISA' +' '+ 'FARHA'
print (x)

y = ['Ramisa', 'Farha'] + ['MAAHI']
print (y)

RAMISA FARHA
['Ramisa', 'Farha', 'MAAHI']

In [ ]:
#Multiplying
z = 'RAMISA'*3
print (z)

RAMISARAMISARAMISA

In [ ]:
#Upper case Lower case
message = 'Ramisa Farha'
print (message.lower())
print (message.upper())

ramisa farha
RAMISA FARHA

In [ ]:
#Count method takes a string as an argument
text = 'Hello , Welcome to my code'
print (text.count('Hello'))
print (text.count('o'))

1
4

In [ ]:
#Find the index
text = 'Hello , Welcome to my code'
print (text.find('code'))
#If cannot find the index return -1
print (text.find ('Ramisa'))

22
-1

In [ ]:
#Replace
text = 'Hello, Maahi'
new_text = text.replace ('Maahi', 'Ramisa')
print (new_text)

Hello, Ramisa

In [ ]:
#Formatted String
greeting = 'Hello'
name = 'Maahi'
text = greeting + ', ' + name
print (text)

Hello, Maahi

In [ ]:
greeting = 'Hello'
name = 'Maahi'
text = '{},{}. Welcome!'.format(greeting , name)
print (text)
text = f'{greeting},{name}. Welcome!'
print (text)

Hello,Maahi. Welcome!
Hello,Maahi. Welcome!

In [ ]:
greeting = 'Hello'
name = 'Maahi'
print (dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#Method description
greeting = 'Hello'
name = 'Maahi'
print(help(str))

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

#Lists, Tuples, and Sets:

In [ ]:
#List
courses = ['Bangla','English','Math', 'CompSci']
print(courses)
print(len(courses))
print(courses[3])
print(courses[0:2])

['Bangla', 'English', 'Math', 'ComSci']
4
ComSci
['Bangla', 'English']

In [ ]:
#Modifying list
courses = ['Bangla','English','Math', 'CompSci']
courses.append('Art')
print(courses)
#insert in the index
courses.insert(0,'Physics')
print(courses)

['Bangla', 'English', 'Math', 'ComSci', 'Art']
['Physics', 'Bangla', 'English', 'Math', 'ComSci', 'Art']

In [ ]:
#List in a list
courses = ['Bangla','English','Math', 'CompSci']
courses_2 = ['Chemisty','Biology']
courses.insert(0, courses_2)
print(courses)
#Extend method
courses = ['Bangla','English','Math', 'CompSci']
courses.extend(courses_2)
print(courses)

[['Chemisty', 'Biology'], 'Bangla', 'English', 'Math', 'ComSci']
['Bangla', 'English', 'Math', 'ComSci', 'Chemisty', 'Biology']

In [ ]:
#Remove method
courses = ['Bangla','English','Math', 'CompSci']
courses.remove('Math')
print(courses)
#Pop method to remove the last value from the stack
courses.pop()
print(courses)
#Pop can return it's value
courses = ['Bangla','English','Math', 'CompSci']
popped = courses.pop()
print(popped)

['Bangla', 'English', 'ComSci']
['Bangla', 'English']
ComSci

In [ ]:
#Reverse the list
courses = ['Bangla','English','Math', 'CompSci']
courses.reverse()
print(courses)

['CompSci', 'Math', 'English', 'Bangla']

In [ ]:
#Sorting list
courses = ['Bangla','English','Math', 'CompSci', 'Physics', 'Art']
courses.sort()
print(courses)
num = [3,5,8,9,1,5,7,23,90,54]
num.sort()
print(num)
#Reverse the sort
num.sort(reverse=True)
print(num)
#Minimum number
print(min(num))
#Maximum number
print(max(num))
#Sum of the numbers
print(sum(num))

['Art', 'Bangla', 'CompSci', 'English', 'Math', 'Physics']
[1, 3, 5, 5, 7, 8, 9, 23, 54, 90]
[90, 54, 23, 9, 8, 7, 5, 5, 3, 1]
1
90
205

In [ ]:
#Sorted without altering the list
courses = ['Bangla','English','Math', 'CompSci', 'Physics', 'Art']
sorted_courses = sorted(courses)
print(sorted_courses)

['Art', 'Bangla', 'CompSci', 'English', 'Math', 'Physics']

In [ ]:
#Find the index
courses = ['Bangla','English','Math', 'CompSci', 'Physics', 'Art']
print(courses.index('CompSci'))
#Boolean output
print('Math' in courses)
print('Biology' in courses)

3
True
False

In [ ]:
#Using For loop
courses = ['Bangla','English','Math', 'CompSci', 'Physics', 'Art']
for item in courses:
  print(item)
for course in courses:
  print(course)

Bangla
English
Math
CompSci
Physics
Art
Bangla
English
Math
CompSci
Physics
Art

In [ ]:
#Find Index and the value
courses = ['Bangla','English','Math', 'CompSci', 'Physics', 'Art']
for index, course in enumerate(courses):
 print(index,course)

0 Bangla
1 English
2 Math
3 CompSci
4 Physics
5 Art

In [ ]:
courses = ['Bangla','English','Math', 'CompSci', 'Physics', 'Art']
for index, course in enumerate(courses, start=1):
  print(index,course)

1 Bangla
2 English
3 Math
4 CompSci
5 Physics
6 Art

In [ ]:
#Spliting values
courses = ['Bangla','English','Math', 'CompSci', 'Physics', 'Art']
course_str = ', '.join(courses)
print(course_str)
course_str = '-'.join(courses)
print(course_str)

Bangla, English, Math, CompSci, Physics, Art
Bangla-English-Math-CompSci-Physics-Art

In [ ]:
courses = ['Bangla', 'English', 'Math', 'CompSci', 'Physics', 'Art']
course_str = ' - '.join(courses)
new_list = course_str.split(' - ')
print(course_str)
print(new_list)

Bangla - English - Math - CompSci - Physics - Art
['Bangla', 'English', 'Math', 'CompSci', 'Physics', 'Art']

In [ ]:
#Tuples (cannot be modified)
#mutuable
list_1 = ['Bangla', 'English', 'Math', 'CompSci', 'Physics', 'Art']
list_2 = list_1
print (list_1)
print (list_2)
list_1[0] = 'Chemistry'
print (list_1)
print (list_2)

['Bangla', 'English', 'Math', 'CompSci', 'Physics', 'Art']
['Bangla', 'English', 'Math', 'CompSci', 'Physics', 'Art']
['Chemistry', 'English', 'Math', 'CompSci', 'Physics', 'Art']
['Chemistry', 'English', 'Math', 'CompSci', 'Physics', 'Art']

In [ ]:
#immutable
tuple_1 = ['Bangla', 'English', 'Math', 'CompSci', 'Physics', 'Art']
tuple_2 = tuple_1
print (tuple_1)
print (tuple_2)
tuple_1[0] = 'Chemistry'
print (tuple_1)
print (tuple_2)

['Bangla', 'English', 'Math', 'CompSci', 'Physics', 'Art']
['Bangla', 'English', 'Math', 'CompSci', 'Physics', 'Art']
['Chemistry', 'English', 'Math', 'CompSci', 'Physics', 'Art']
['Chemistry', 'English', 'Math', 'CompSci', 'Physics', 'Art']

In [ ]:
#Sets example
cs_courses = {'English', 'Math', 'CompSci', 'Physics', 'Math'}
print(cs_courses)
print ('Math' in cs_courses)

#Find common between two sets
cs_courses = {'English', 'Math', 'CompSci', 'Physics'}
art_courses = {'English', 'Math', 'Art', 'Design'}
print(cs_courses.intersection(art_courses))
print(cs_courses.difference(art_courses))
print(cs_courses.union(art_courses))

{'Physics', 'CompSci', 'Math', 'English'}
True
{'Math', 'English'}
{'CompSci', 'Physics'}
{'Math', 'English', 'Physics', 'Design', 'Art', 'CompSci'}

In [ ]:
#Empty list
empty_list = []
empty_list = list()
#Empty tuple
empty_tuple = []
empty_tuple = tuple()
#Empty sets
empty_set = set()
#Empty dictionary
empty_set = []

In [ ]:
#Dictionaries - Working with Key-Value Pairs
student = {'name':'Ramisa', 'age': 25, 'course': ['Math','Compsci']}
print(student['course'])
print(student.get('name'))
print(student.get('phone'))
print(student.get('phone','Not found'))
student['phone'] ='55-555-555'
print(student.get('phone','Not found'))
#update
student.update ({'name':'Farha', 'age':18})
print(student)

['Math', 'Compsci']
Ramisa
None
Not found
55-555-555
{'name': 'Farha', 'age': 18, 'course': ['Math', 'Compsci'], 'phone': '55-555-555'}

In [ ]:
#delete a key
student = {'name':'Ramisa', 'age': 25, 'course': ['Math','Compsci']}
del student ['age']
print(student)

student = {'name':'Ramisa', 'age': 25, 'course': ['Math','Compsci']}
age = student.pop('age')
print (age)

#find length
student = {'name':'Ramisa', 'age': 25, 'course': ['Math','Compsci']}
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

#loop
for key in student:
  print(key)
for key,value in student.items():
  print(key,value)

{'name': 'Ramisa', 'course': ['Math', 'Compsci']}
25
3
dict_keys(['name', 'age', 'course'])
dict_values(['Ramisa', 25, ['Math', 'Compsci']])
dict_items([('name', 'Ramisa'), ('age', 25), ('course', ['Math', 'Compsci'])])
name
age
course
name Ramisa
age 25
course ['Math', 'Compsci']

## Conditionals and Booleans - If, Else, and Elif Statements

In [ ]:
#equal == not equal != greater or equal >= greater > less < less or equal <=
#odject identify : is
language = 'java'
if language == 'python':
  print('Language is python')
elif language == 'java':
  print('The language is java')
else:
  print('No match')

The language is java

In [ ]:
#boolean and,or,not
user = 'Admin'
logged_in = True
if user == 'Admin' and logged_in:
  print('Admin page')
else:
  print('Bad credentials')

user = 'Admin'
logged_in = False
if user == 'Admin' and logged_in:
  print('Admin page')
else:
  print('Bad credentials')

Admin page
Bad credentials

In [ ]:
#or
user = 'Admin'
logged_in = False
if user == 'Admin' or logged_in:
  print('Admin page')
else:
  print('Bad credentials')

Admin page

In [ ]:
#Not
user = 'Admin'
logged_in = False
if not logged_in:
  print('Please log in')
else:
  print('Welcome')

Please log in

In [ ]:
a = [1,2,3]
b = [1,2,3]
print(a==b)
print (a is b)
print(id(a))
print(id(b))

True
False
136305725863936
136306717976384

In [ ]:
a = [1,2,3]
a = b
print(a==b)
print (a is b)
print(id(a))
print(id(b))

True
True
136306717976384
136306717976384

In [ ]:
#False values
#False
condition = False
if condition:
  print ("Evaluated to True")
else:
  print ("Evaluated to False")
#None
condition = None
if condition:
  print ("Evaluated to True")
else:
  print ("Evaluated to False")
#Zero of any numeric type
#zero = false
condition = 0
if condition:
  print ("Evaluated to True")
else:
  print ("Evaluated to False")
#any number= true
condition = 10
if condition:
  print ("Evaluated to True")
else:
  print ("Evaluated to False")
#Any empty sepuence  ex.' ' , [], ()
condition = []
if condition:
  print ("Evaluated to True")
else:
  print ("Evaluated to False")
#Any empty mapping/dictonary ex. {}
condition = {}
if condition:
  print ("Evaluated to True")
else:
  print ("Evaluated to False")
#Everything else will be true
condition = True
if condition:
  print ("Evaluated to True")
else:
  print ("Evaluated to False")
#Any NOT empty sepuence  ex.' ' , [], ()
condition = ['Test']
if condition:
  print ("Evaluated to True")
else:
  print ("Evaluated to False")

Evaluated to False
Evaluated to False
Evaluated to False
Evaluated to True
Evaluated to False
Evaluated to False
Evaluated to True
Evaluated to True

##Loops and Iterations - For/While Loops

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
  print(num)

1
2
3
4
5

In [ ]:
#Break
nums = [1,2,3,4,5]
for num in nums:
  if num == 3:
    print("Found it!")
    break
  print(num)
#Continue
nums = [1,2,3,4,5]
for num in nums:
  if num == 3:
    print("Found it!")
    continue
  print(num)

1
2
Found it!
1
2
Found it!
4
5

In [ ]:
#Loop in a loop
nums = [1,2,3,4,5]
for num in nums:
  for letter in 'abc':
    print (num , letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [ ]:
#Range
for i in range (10):
  print(i)

  #Range
for i in range (1, 11):
  print(i)

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10

In [ ]:
#While
x = 0
while x < 10:
  if x == 5:
    break
  print(x)
  x += 1

0
1
2
3
4

##Functions

In [ ]:
#define a empty function
def hello_func():
  pass
print(hello_func())

#Execute func
def hello_func():
  print ("Hello function!")
hello_func()

#Printing many times but using func
def hello_func():
  print ("Hello function.")
hello_func()
hello_func()
hello_func()
hello_func()

None
Hello function!
Hello function.
Hello function.
Hello function.
Hello function.

In [ ]:
#Return a string
def hello_func():
  return 'Hello World'
print(hello_func())
print(hello_func().upper())

Hello World
HELLO WORLD

In [ ]:
#Using parameter
def hello_func(greeting):
  return '{} Function!'.format(greeting)
print(hello_func('Hi'))

Hi Function!

In [ ]:
def function():
  print('Ahhhh')
  print('Eeeee')
print('This is outside the function')

This is outside the function

In [ ]:
#mapping a function with input x
def function2(x):
  return x*2
a = function2(3)
#return output
print(a)
b = function2(9)
print(b)
c = function2(4)
print(c)

6
18
8

In [ ]:
#multiple arguments in a single function
def function3(x, y, z):
  return x+y+z
p= function3(1,4,6)
print(p)

11

In [ ]:
#Function example
def function4(x):
  print (x)
  print('still in function')
  return 3*x
a = function4(5)
print(a)
#Function without a return value
def function5(some_argument):
  print(some_argument)
  print('Yess!')
function5(10)

5
still in function
15
10
Yess!

In [ ]:
#BMI calculator
name1 = 'Rami'
height_m1 = 1.6764
weight1= 74

name2 = 'Fari'
height_m2 = 1.6764
weight2= 70

name3 = 'Mahi'
height_m3 = 1.6764
weight3= 68

def bmi_calculator(name, height_m, weight):
  bmi = weight/(height_m ** 2)
  print('bmi: ')
  print(bmi)
  if bmi < 25:
    return name + ' is not overweight'
  else:
    return name + ' is overweight'

result1 = bmi_calculator(name1, height_m1, weight1)
result2 = bmi_calculator(name2, height_m2, weight2)
result3 = bmi_calculator(name3, height_m3, weight3)
print(result1)
print(result2)
print(result3)

bmi:
26.331549449141143
bmi:
24.908222451890268
bmi:
24.196558953264834
Rami is overweight
Fari is not overweight
Mahi is not overweight

In [ ]:
#km converts to miles
#formula km = 1.6 * miles
def convert(miles):
  km = 1.6 * miles
  return km

km_in_miles1 = 10
km_in_miles2 = 4
km_in_miles3 = 5

km1 = convert(km_in_miles1)
km2 = convert(km_in_miles2)
km3 = convert(km_in_miles3)

print('10 miles in km:', km1)
print('4 miles in km:', km2)
print('5 miles in km:', km3)

10 miles in km: 16.0
4 miles in km: 6.4
5 miles in km: 8.0

# Operator	Meaning	Example
*And* - True if all operands are True;
*Or* - True if any operand is True;
*Not* - True if the operand is False

In [ ]:
#Check if the inputted number is odd or even
num = int(input('Enter a number: '))
if num/2:
  print ('The number is Even')
else:
  print('The number is Odd')

Enter a number: 23
The number is Even

In [ ]:
#Ask for a dish name and print the cuisine
Bangladeshi = ['Bhaat','Dal','Dim']
Chinese = ['Chicken','Fried rice']
Italian = ['Pizza', 'Pasta']
dish = str(input('Enter a dish name: '))
if dish in Bangladeshi:
  print('Bangladeshi Food!')
elif dish in Chinese:
  print('Chinese Food')
elif  dish in Italian:
  print('Italian Food')
else:
  print('Sorry! Idk which dish is', dish)

Enter a dish name: dal
Sorry! Idk which dish is dal

In [ ]:
#Sum of numbers in loop
numbers = [123,345,678,191,1222,334,223]
sum = 0
for item in numbers:
  sum = sum + item
print(sum)

3116

In [ ]:
#Monthy expense
exp = [1000,2000,3000,4000,5000]
total = 0
for i in range(len(exp)):
  print('Month-',(i+1), 'Expense:', exp[i])
  total = total + exp[i]
print('Total expense is:', total)

Month- 1 Expense: 1000
Month- 2 Expense: 2000
Month- 3 Expense: 3000
Month- 4 Expense: 4000
Month- 5 Expense: 5000
Total expense is: 15000

In [ ]:
#take two list and find the total
Rami_exp_list =[100,300,5100]
Fari_exp_list =[200,4000,500]
total = 0
for item in Rami_exp_list:
  total = total+item
print ('Rami total exp list is: ',total)
total = 0
for item in Fari_exp_list:
  total = total+item
print ('Fari total exp list is: ',total)

#using function

Rami total exp list is:  5500
Fari total exp list is:  4700

In [ ]:
#Write a program that receives one input, an integer, calculates the factorial of the input and prints it.
n = int(input())
fac = 1
for i in range(1,n+1):
  fac = fac*i
print(fac)

5
120

In [ ]:
#Write a program that gets a dynamic number of input values.
#The first input is a number that represents the number of the input values following it. The next input values are whole numbers.
#In the end, print the sum of all the input numbers (not including the first input).
n=int(input())
res = 0
for i in range(n):
  a= int(input())
  res = res+a
print(res)

3
1
5
6
12

In [3]:
#Create a program to execute a function, determined by user input, which calculates and prints the sum of numbers from 1 to 10000.
def sum_numbers():
    total_sum = 0

    # Loop through numbers from 1 to 10000 (inclusive) and calculate the sum
    for number in range(1, 10001):
        total_sum += number

    return total_sum  # Return the calculated sum

n = int(input("Enter the number of times to execute the function: "))  # Get user input for 'n'

# Execute the function 'sum_numbers()' 'n' times
for i in range(n):
    result = sum_numbers()  # Call the function 'sum_numbers()'
    print(result)  # Print the result

Enter the number of times to execute the function: 4
50005000
50005000
50005000
50005000